.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nlo
*.out
*.pdf
*.gz
*.toc
*.cls
*.dat
*.o
*.out
*.xcodeproj
*.xcbkptlist
*.pbxproj
*.xcuserstate
*.xcworkspacedata
*.xcscheme
*.plist